header{
    position: fixed;
    z-index: 999;
    width: 100%;
    padding-top: 30px;
}
.wrap-header{
    display: flex;
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    padding: 15px 30px;
    border-radius: 45px;
    align-items: center;
    justify-content: space-between;
}
.wrap-header .menu-header ul{
    display: flex;
}
.wrap-header .menu-header ul li{
    padding-right: 40px;
    margin-top: 20px;
    font-size: 13px;
    color: #575757;
    font-weight: 500;
    transition: color 0.3s ease;
}
.wrap-header .menu-header ul li:hover{
    color: var(--color-2)
}
.section-1 {
    width: 100%; /* Đặt chiều rộng */
    height: 100vh; /* Đặt chiều cao (toàn màn hình) */
    background-image: url("https://templatemo.com/templates/templatemo_535_softy_pinko/assets/images/banner-bg.png"); /* Đường dẫn tới hình ảnh */
    background-size: cover; /* Để ảnh phủ kín phần tử */
    background-position: center; /* Căn giữa ảnh */
    background-repeat: no-repeat; /* Không lặp lại ảnh */
}
.section-1 .wrap-section-1{
    padding-top: 225px;
    text-align: center;
    padding-bottom: 100px;
}
.section-1 .text-section-1 .text-1{
    color: white;
    font-size: 36px;
    padding-bottom: 30px;
    font-weight: 500;
}
.section-1 .text-section-1 .text-2{
    color: white;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 40px;
}
.section-1 .text-section-1 button{
    color: white;
    padding: 10px 25px;
    border-radius: 45px;
    border: 0;
    background-color: #FF589E;
    font-size: 13px;
    transition: background-color 0.3s ease;
}
.section-1 .text-section-1 button:hover{
    background-color: #8261EE;
}
.section-1 .wrap-section-1 .row-section-1{
    padding-top: 30px;
}
.section-1 .box{
    display: block;
    padding: 32px 0;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
}
.section-1 .box .img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #8261EE;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.section-1 .box .img:hover{
    background-color: #FF589E;
    transition: background-color 0.3s ease;
}
.section-1 .p-1{
    font-size: 18px;
    font-weight: 500;
    color: black;
}
.section-1 .p-2{
    color: #777;
    font-size: 13px;
    font-weight: 400;
}
.section-2{
    margin-top: 190px;
}
.section-2 .img-1{
    margin-right: 120px;
}
.section-2.img-2{
    margin-left: 150px;
}
.section-2 .row-section-2-1{
    padding-bottom: 100px;
}
.section-2 .p-1{
    font-size: 24px;
    font-weight: 500;
}
.section-2 .p-2{
    font-weight: 400;
    font-size: 16px;
    color: #777;
}
.section-3{
    background-image: url(https://templatemo.com/templates/templatemo_535_softy_pinko/assets/images/work-process-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    background-size: cover;
    padding: 130px 0;
    text-align: center;
}
.section-3 .text-section-3 .p-1{
    color: white;
    font-size: 28px;
    font-weight: 500;
}
.section-3 .text-section-3 .p-2{
    color: white;
    font-size: 15px;
    font-weight: 400;
}
.section-3 .row-section-3{
    padding-top: 60px;
}
.section-3 .box{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    position: relative;
    transition: transform 0.3s ease;
}
.section-3 .box:hover{
    transform: translateY(-15px);
}
.section-3 .box-1{
    background-color: white;
    border-radius: 10px;
    padding: 15px 0;
    position: relative;
    bottom: 10px;
    right: 10px;
}
.section-3 .box-1 img{
    padding-bottom: 24px;
}
.section-3 .box-1 .p-1{
    font-size: 17px;
    font-weight: 400;
    color: black;
    margin-bottom: 0;
    padding-bottom: 0;
}
.section-3 .box-1 .p-2{
    font-size: 14px;
    font-weight: 400;
    color: #777777;
    margin-bottom: 0px;
    padding-bottom: 0px !important;
}
.section-4{
    padding: 105px;
}
.section-4 .text-section-4{
    padding-bottom: 55px;
}
.section-4 .text-section-4 .p-1{
    color: black;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}
.section-4 .text-section-4 .p-2{
    color: #777777;
    font-size: 15px;
    margin-bottom: 30px;
    font-weight: 400;
    text-align: center;
}
.section-4 .box{
    background: #fff;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-4 .row-section-4 .img-1{
    margin-top: 30px;
    width: 32px;
    height: 32px;
}
.section-4 .row-section-4 .img-2{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-right: 15px;
    transition: transform 0.3s ease;
}
.section-4 .row-section-4 .p-3{
    font-size: 15px;
    font-weight: 400;
    color: #777;
}
.section-4 .row-section-4 .infor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-4 span{
    color: #FF589E;
}
.section-4 .row-section-4 .p-4{
    transition: transform 0.3s ease;
}
.section-4 .row-section-4 .box:hover .p-4{
    transform: translateX(15px);
}
.section-4 .row-section-4 .box:hover .img-2{
    transform: scale(1.2);
}